#header
    background: url("../img/heroBackground.jpg") no-repeat
    background-size: cover
    height: 800px
    color: white
    text-align: center

    .main-nav
        display: flex
        margin-top: 20px


    li
        list-style: none
    li:first-child
        margin-right: auto
    a 
      color: white
      display: block
      border-radius: 4px
      padding: 10px 50px
      text-decoration: none
      font-weight: 900
      text-transform: uppercase

    a.download
        background: white
        color: $ocean
        box-shadow: 0 12px 10px -10px rgba(0,0,0, 0.2)

    .main-img 
        width: 50%
        
   




